* {
    box-sizing: border-box;
    }
  
/* this makes the main content float left */
[class*="col-"] {
    float: left;
    padding-left: 25px;
    }
/* fonts for the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1240px;
    margin: 0 auto; 
	  float: none ; 
    }
/* fonts for the headers */
.logo-name {
    font-family: 'Pacifico';
    color:rgb(92, 143, 236);
    font-size:45px;
    text-align: left;
    padding: 65px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
/* Header styling */
.header, h1 {
  font-family: "Pacifico";
  font-size: 50px;
  color:#4e85eb;
}

/* Img styling */
.img-right {
  height: 300px; 
  float: right; 
  padding: 20px;
}

.img-left {
  height: 300px; 
  float: left; 
  padding: 20px;
}

.img-center {
  height: 200px; 
  float: center; 
  padding: 20px;
}
.img-center-big {
  height: 300px;
  float: center;
  padding: 20px;
}

/* shows which page is active on the sidebar nav */
.menu .active {
    background-color: #94afe0;
    color: white;
  }
/* styling header */
.logo {
    background-image: linear-gradient(rgba(252, 252, 252, 0.5), 
    rgba(128, 121, 121, 0.5)), 
    url('Pictures/sophielight.jpeg');
    background-position: top 45% center;
    background-size: cover;
    height: 25vh;
    width: 100%;
    background-color: #4e85eb;
    
    text-align: center;
    font-size: 30px;
    }
  
/* this is the line section */
hr.solid {
        border-top: 3px solid #bbb;
      }
/* this makes the sidebar connected to the header banner */
.menu {
    margin-top: 0;
    padding: 0px;
    padding-right: 0%;
    width: 200px;
    background-color: #597dc0;
    }
/* makes a links not look like links  */
.menu a, .dropbtn{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #faf8f8;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    }
/* shows a different color when hovers over the links */
.menu a:hover, .dropdown:hover .dropbtn{
    background-color: #94afe0;  
    }
  
/* The dropdown Styling */
.fa-caret-down {
    float: right;
    padding-right: 25px;
  }

  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    width: 100%;
    }
  
  .dropdown-content a {
    color: white;
    text-decoration: none;
    background-color: #597dc0;   
    }
  
.dropdown-content a:hover {
    background-color: #ddd;
    }

/* end of drop down styling */
.nav {
    margin:0;
    }
/* responsive icon */
.icon {
    display: none;
    padding: 15px;
    }
/* responsive styling for the side bar that turns into menu bar */
@media screen and (max-width: 600px) {
    .row a, .dropdown .dropbtn {
      display: none;
    }
    a.icon {
      float: left;
      display: block;
      background-color: #4e85eb;
     color: white;
  
    }
  }
  
/* responsive styling for the social nav bar  */
@media screen and (max-width: 600px) {
    .row.responsive {
        position: absolute;
    }
    .icon.responsive  {
    position: absolute;
    }
    .row.responsive a {
      display: block;
      text-align: left;
    }
  
    .row.responsive .dropdown-content {
        position: relative;
    }
    .row.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  
/* Add a blue background color to the top navigation */
.topnav {
    background-color: #4e85eb;
    overflow: hidden;
    margin-bottom: 0;
    bottom: 0;
    }
  
/* Style the links inside the social navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    }
  
.topnav .icon {
    float: left;
    }
  
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
    }
  
/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
    }
  
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    }
  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    }
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 60%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    }